// 
// about-me
// 


.about-me {
    background-color: $white;
    min-height: 100vh;

    .nav-pills {
        .nav-item {
            .nav-link {
                color: $muted;
                margin: 0 10px;
                border-radius: 0 !important;

                &.active,
                &:active,
                &:focus {
                    animation: color-change 6s linear infinite;
                    border-bottom: solid 2px #ff1493;
                    background-color: transparent;
                }
            }
        }

    }
}
