.members {
    .nav-pills {
        .nav-link {
            padding: 8px 24px;
            color: $primary;
            font-size: 18px;
            
            &.active {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

.members-group {
    &-title {
        span {
            border-bottom: 5px solid $primary;
        }
        
    }
}

.member {
    background-color: $muted-light;
    border-radius: 12px;

    &-image {
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 80%;
            aspect-ratio: 1/0.2;      
        }
    }

    &-content {
        a {
            color: $primary;
        }
    }

    .about-me & {
        background-color: $white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}